footer
    .container.beautiful-jekyll-footer
        .row
            .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                ul.list-inline.text-center.footer-links
                    each item in theme.footer
                        if item.enable
                            li
                                a(href=item.link, title=item.title)
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-stack-1x.fa-inverse(class=item.icon)
                - var year = new Date().getFullYear();
                p.copyright.text-muted.
                    © #[a(href=theme.copyright_owner.url)= theme.copyright_owner.name] • #{year} • #[a(href="mailto:" + config.email)= config.email]

                p.theme-by.text-muted.
                    Theme by
                    #[a(href="https://github.com/twoyao/beautiful-hexo") beautiful-hexo]
